.footer{
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.15) 0%,
        rgba(0, 0, 0, 0.15) 100%
      ),
      radial-gradient(
          at top center,
          rgba(61, 60, 60, 0.4) 0%,
          rgba(0, 0, 0, 0.4) 120%
        )
        #989898 !important;
    background-blend-mode: multiply, multiply;
    height: 20vh;
    position:relative; bottom:0; z-index:999999;
    font-family: "Poppins", sans-serif;
    color: white !important;
}