.ContenedorSalones{
    height: 50vh;
    border: solid 2px black;
    overflow: auto;
    margin: 20px;
}

.tamanoTabla1{
    overflow-y: scroll;
    height: 50vh;
    width: 110%;
}
.tamanoTabla{
    overflow-y: scroll;
    height: 80vh;
}


.iconoColor:hover{
    color: red;
    cursor: pointer;
}




.SalonContenedor{
    height: 25vh;
    border: solid 2px black;
    cursor: pointer;
    text-align: center;
}

.SalonContenedor:hover {
   background: gray;
}